#top-panel {
    background: #003F80;
    background-size:100% 100%;
}
#top-panel td#login-field span a {
    background: none; }
#top-panel td #searchform a {
    background: none;
    height: auto;
    width: auto; }
#top-panel td > a {
    background: url("http://i.imgur.com/yspRFQ6.png") 0 0 no-repeat;
    display: block;
    width: 354px;
    height: 40px;
    margin: 10px 0 10px 10px; }
#top-panel td > a img {
    display: none; }

#main-table {
    background-color: #fff !important;
    background-image: none !important;
}